/* CSS Document */

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}
body {
    width: 100%;
    height: 800px;
    margin: 0;
}
.back {
    background-color: black;
    width: 100%;
    height: 100%;
}
/*header*/

.header {
    height: 10%;
    background-color: blue;
}

.header-index {
    height: 20%;
    background-color: blue;
}

.header-case {
    text-align: center;
    width: 33.33%;
    height: 100%;
    background-color: #43708e;
    float: left;
}

/*.header-case:hover {
    background-color: aqua;
}*/
/*nav bar*/
.navbar {
    width: 100%;
    height: 10%;
    background-color: brown;
    float: left;
    padding-left: 4%;
}
.navbar-case {
    width: 25%;
    height: 100%;
    float: left;
    padding-top: 1%;
}


.ligne li {                   
			display: inline-block;
		}

/*body*/
.space {
    width: 100%;
    height: 10%;
    float: left;
}

.marge {
    margin-right: 5%;
}
.button {
    width: 100%;
    height: 100%;
    float: left;
}
.body {
    text-align: center;
    width: 100%;
    height: 70%;
    background-color: #43708e;
    float: left;
}

.body-formulaire {
    text-align: center;
    width: 100%;
    height: 80%;
    background-color: #43708e;
    float: left;
}
.ligne-body li {
    display: inline-block;
    margin-top: 30%;
}
.block {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #43708e;
}

.block-index-left {
    height: 47%;
    width: 47%;
    background-color: brown;
    float: left;
    margin-bottom: 5%;
    margin-left: 2%;
}

.block-index-right {
    height: 47%;
    width: 47%;
    background-color: brown;
    float: right;
    margin-bottom: 5%;
    margin-right: 2%;
}
/*.block-index:hover {
    background-color: lightblue;
}*/
/* contact*/
.contact {
    text-align: center;
    width: 100%;
    height: 10%;
    background-color: lightblue;
    float: left;
}

.contact-link {
    height: 100%;
    width: 100%;
    margin-top: 5%;
}

.contact-link-little {
    height: 100%;
    width: 100%;
    margin-top: 1%;
}

/*.contact-link:hover {
    background-color: lightgreen;
}*/

.message {
    height: 50%;
    width: 100%;
    background-color: #43708e;
}
.message-boxe {
    height: 50%;
    width: 80%;
}

.formulaire {
    width: 100%;
    height: 100%;
    background-color: #43708e;
    float: left;
}

