/* CSS Document */

body {
    width: 480px;
    height: 800px;
}
.back {
    background-color: black;
    width: 100%;
    height: 100%;
}
/*header*/

.header {
    height: 10%;
    background-color: blue;
}

.header-index {
    height: 20%;
    background-color: blue;
}

.header-case {
    text-align: center;
    width: 33.33%;
    height: 100%;
    background-color: red;
    float: left;
}

.header-case:hover {
    background-color: aqua;
}
/*nav bar*/
.navbar {
    width: 100%;
    height: 10%;
    background-color: lightblue;
    float: left;
}
.navbar-case {
    width: 25%;
    height: 100%;
    float: left;
}
.ligne li {                   
			display: inline-block;
		}

/*body*/
.space {
    width: 100%;
    height: 10%;
    float: left;
}

.marge {
    margin-right: 5%;
}
.button {
    width: 100%;
    height: 100%;
    float: left;
}
.body {
    text-align: center;
    width: 100%;
    height: 70%;
    background-color: lightcoral;
    float: left;
}

.body-formulaire {
    text-align: center;
    width: 100%;
    height: 80%;
    background-color: blue;
    float: left;
}
.ligne-body li {
    display: inline-block;
    margin-top: 30%;
}
.block {
    display: none;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.block-index {
    height: 50%;
    width: 50%;
    background-color: brown;
    float: left;
}
.block-index:hover {
    background-color: lightblue;
}
/* contact*/
.contact {
    text-align: center;
    width: 100%;
    height: 10%;
    background-color: aquamarine;
    float: left;
}

.contact-link {
    height: 100%;
    width: 100%;
}

.contact-link:hover {
    background-color: lightgreen;
}

.message {
    height: 50%;
    width: 80%;
}

.formulaire {
    width: 100%;
    height: 100%;
    background-color: chartreuse;
}

